USE [master]
GO
/****** Object:  Database [BuildingData]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE DATABASE [BuildingData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuildingData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BuildingData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuildingData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BuildingData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuildingData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuildingData]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BD_List]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_List](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BD_No] [nvarchar](50) NULL,
	[BD_Name] [nvarchar](50) NULL,
	[BD_Addr] [nvarchar](100) NULL,
	[Contract_Start] [datetime] NULL,
	[Contract_End] [datetime] NULL,
	[First_Contact] [nvarchar](50) NULL,
	[Fst_Contact_Tel] [nvarchar](50) NULL,
	[Second_Contact] [nvarchar](50) NULL,
	[Sec_Contact_Tel] [nvarchar](50) NULL,
	[House_Count] [nvarchar](50) NULL,
	[BD_State] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BD_Manager]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_Manager](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BD_ID] [int] NULL,
	[Manager_ID] [int] NULL,
	[Permissions] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BD_Member]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_Member](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BD_ID] [int] NULL,
	[Door_No] [nvarchar](50) NULL,
	[User_ID] [int] NULL,
	[DoorNo_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BD_Permissions]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD_Permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BD_ID] [int] NULL,
	[Receive_Package] [int] NULL,
	[Sent_Package] [int] NULL,
	[Manage_Fee] [int] NULL,
	[Bulletin] [int] NULL,
	[Public_Area_Reserve] [int] NULL,
	[Nearby_Store] [int] NULL,
	[Community_Service] [int] NULL,
	[Feedback] [int] NULL,
	[Visitor_Record] [int] NULL,
	[Calendar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Board]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Board](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BD_Id] [int] NULL,
	[Manager_Id] [int] NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Info] [nvarchar](500) NULL,
	[Photo] [nvarchar](100) NULL,
	[Open_Time] [datetime] NULL,
	[Auth] [int] NULL,
	[State] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BD_Id] [int] NULL,
	[Manager_Id] [int] NULL,
	[Event_Start] [datetime] NULL,
	[Event_Name] [nvarchar](50) NULL,
	[Info] [nvarchar](100) NULL,
	[Log_Time] [datetime] NULL,
	[Event_End] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Account]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Com_Name] [nvarchar](100) NULL,
	[Com_Account] [nvarchar](50) NULL,
	[Com_Password] [varchar](50) NULL,
	[Com_Permissions] [int] NULL,
	[Com_Status] [int] NULL,
	[fAspUserId] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Login_History]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Login_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NULL,
	[Com_Login_Time] [datetime] NULL,
	[Com_Logout_Time] [datetime] NULL,
	[Com_IP_Address] [varchar](50) NULL,
	[Com_Login_Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Profile]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Profile](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Com_ID] [int] NULL,
	[Com_Address] [nvarchar](100) NULL,
	[Com_Person] [nvarchar](50) NULL,
	[Com_Phone] [varchar](50) NULL,
	[Com_Email] [varchar](200) NULL,
	[Com_Server_Item] [nvarchar](50) NULL,
	[Com_Registration_Number] [int] NULL,
	[Com_Contract_Start_Date] [datetime] NULL,
	[Com_Contract_End_Date] [datetime] NULL,
	[Com_Business_Hours] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Service_Area]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Service_Area](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Com_ID] [int] NULL,
	[YilanC] [int] NULL,
	[KeelungCity] [int] NULL,
	[TaipeiCity] [int] NULL,
	[NewTaipeiCity] [int] NULL,
	[TaoyuanCity] [int] NULL,
	[HsinchuCity] [int] NULL,
	[HsinchuC] [int] NULL,
	[MiaoliC] [int] NULL,
	[TaichungCity] [int] NULL,
	[ChanghuaC] [int] NULL,
	[NantouC] [int] NULL,
	[YunlinC] [int] NULL,
	[ChiayiCity] [int] NULL,
	[ChiayiC] [int] NULL,
	[TainanCity] [int] NULL,
	[KaohsiungCity] [int] NULL,
	[PingtungC] [int] NULL,
	[PenghuC] [int] NULL,
	[HualienC] [int] NULL,
	[TaitungC] [int] NULL,
	[KinmenC] [int] NULL,
	[LienchiangC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS_Appointment_Record]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS_Appointment_Record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[user_id] [int] NULL,
	[customer_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[service_location] [nvarchar](255) NULL,
	[email] [nvarchar](100) NULL,
	[ar_notes] [nvarchar](max) NULL,
	[feedback] [nvarchar](max) NULL,
	[created_date] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[finish_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS_Order_Photo]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS_Order_Photo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[photo_id] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS_Product]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS_Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[com_id] [int] NULL,
	[p_category] [nvarchar](50) NULL,
	[p_name] [nvarchar](100) NULL,
	[p_description] [nvarchar](max) NULL,
	[p_price] [decimal](10, 2) NULL,
	[p_stock] [int] NULL,
	[p_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CS_Product_Photo]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CS_Product_Photo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[photo_id] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Door_No]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Door_No](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BD_Id] [int] NULL,
	[Door_No] [nvarchar](50) NULL,
	[Square_Feet] [decimal](6, 2) NULL,
	[Points] [int] NULL,
	[Motor_Park] [int] NULL,
	[Car_Park] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EcpayOrders]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcpayOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MerchantTradeNo] [nvarchar](50) NOT NULL,
	[MemberId] [varchar](255) NOT NULL,
	[RtnCode] [int] NULL,
	[RtnMsg] [nvarchar](255) NULL,
	[TradeNo] [nvarchar](50) NOT NULL,
	[TradeAmt] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentTypeChargeFee] [nvarchar](50) NULL,
	[TradeDate] [nvarchar](50) NULL,
	[SimulatePaid] [int] NULL,
	[PaymentType] [nvarchar](50) NULL,
	[Payment_code] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Get_Pack]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Get_Pack](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BD_Id] [int] NULL,
	[Pack_No] [nvarchar](50) NULL,
	[Type] [int] NOT NULL,
	[Door_No_Id] [int] NULL,
	[Manager_Id] [int] NULL,
	[Get_User] [nvarchar](50) NULL,
	[Logistic] [nvarchar](50) NULL,
	[Log_Time] [datetime] NULL,
	[Pack_Photo] [nvarchar](100) NULL,
	[Pick_User] [nvarchar](50) NULL,
	[Pick_Time] [datetime] NULL,
	[State] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manage_Fee]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manage_Fee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fee_Name] [nvarchar](50) NULL,
	[Door_No_Id] [int] NULL,
	[Price] [int] NULL,
	[Motor_Price] [int] NULL,
	[Car_Price] [int] NULL,
	[Fee_End] [datetime] NULL,
	[Pay_Type] [int] NULL,
	[Pay_Time] [datetime] NULL,
	[State] [int] NULL,
	[Payment_code] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Near_Store]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Near_Store](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BD_Id] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Open_Time] [nvarchar](100) NULL,
	[Addr] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[Photo] [nvarchar](100) NULL,
	[Info] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Public_Area_Reserve]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Public_Area_Reserve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Bd_Id] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Open_Time] [time](0) NULL,
	[Close_Time] [time](0) NULL,
	[Deduct_Unit] [int] NULL,
	[Use_Time] [nvarchar](50) NULL,
	[Area_Info] [nvarchar](500) NULL,
	[Amount] [int] NULL,
	[photo] [nvarchar](100) NULL,
	[icon] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Send_Pack]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Send_Pack](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NULL,
	[Manager_Id] [int] NULL,
	[Type] [int] NULL,
	[Get_User] [nvarchar](50) NULL,
	[Get_Tel] [nvarchar](50) NULL,
	[Send_Addr] [nvarchar](100) NULL,
	[Logistic] [nvarchar](50) NULL,
	[Pick_User] [nvarchar](50) NULL,
	[Pick_Time] [datetime] NULL,
	[Pack_Photo] [nvarchar](100) NULL,
	[Pick_Logistic_Time] [datetime] NULL,
	[State] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Server_History]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Server_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NULL,
	[Service_Date] [datetime] NULL,
	[Service_Type] [nvarchar](50) NULL,
	[Service_Who] [nvarchar](50) NULL,
	[Service_Status] [nvarchar](50) NULL,
	[Service_Feedback] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tManager_Info]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tManager_Info](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](50) NOT NULL,
	[fAccount] [nvarchar](50) NOT NULL,
	[fPassword] [nvarchar](50) NOT NULL,
	[fBuilding_id] [int] NOT NULL,
	[fPhone] [nvarchar](50) NOT NULL,
	[fEmail] [nvarchar](50) NOT NULL,
	[fAspUserId] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tManager_Login_History]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tManager_Login_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[fMan_id] [int] NOT NULL,
	[fLogin_time] [datetime] NULL,
	[fLogout_time] [datetime] NULL,
	[fIP_address] [nvarchar](50) NOT NULL,
	[fLogin_status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tSystem_Info]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSystem_Info](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](50) NOT NULL,
	[fAccount] [nvarchar](50) NOT NULL,
	[fPassword] [nvarchar](50) NOT NULL,
	[fPhone] [nvarchar](50) NOT NULL,
	[fEmail] [nvarchar](50) NOT NULL,
	[fImage] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tusers_Info]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tusers_Info](
	[fId] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](50) NOT NULL,
	[fAccount] [nvarchar](20) NOT NULL,
	[fPassword] [nvarchar](50) NOT NULL,
	[fPhone] [nvarchar](15) NOT NULL,
	[fBuilding_id] [int] NOT NULL,
	[fUser_address] [nvarchar](50) NOT NULL,
	[fEmail] [nvarchar](50) NOT NULL,
	[QR_Cord] [nvarchar](50) NULL,
	[fAspUserId] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Area_Reserve]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Area_Reserve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Area_Id] [int] NULL,
	[Door_No_Id] [int] NULL,
	[User_Id] [int] NULL,
	[Reserve_Time] [datetime] NULL,
	[Start_Time] [datetime] NULL,
	[End_Time] [datetime] NULL,
	[State] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor_Record]    Script Date: 2025/2/17 下午 01:28:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor_Record](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Door_No_Id] [int] NULL,
	[Manager_Id] [int] NULL,
	[Visitor_Name] [nvarchar](50) NULL,
	[Visit_Time] [datetime] NULL,
	[Visit_Reason] [nvarchar](100) NULL,
	[Bd_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250209031045_CustomUserData', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250209031320_NewCustomUserData', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[BD_List] ON 

INSERT [dbo].[BD_List] ([id], [BD_No], [BD_Name], [BD_Addr], [Contract_Start], [Contract_End], [First_Contact], [Fst_Contact_Tel], [Second_Contact], [Sec_Contact_Tel], [House_Count], [BD_State]) VALUES (1, N'BD001', N'大同大廈', N'台北市信義區光復南路', CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2026-01-01T00:00:00.000' AS DateTime), N'王小明', N'0912345678', N'李大華', N'0912345679', N'100', 1)
INSERT [dbo].[BD_List] ([id], [BD_No], [BD_Name], [BD_Addr], [Contract_Start], [Contract_End], [First_Contact], [Fst_Contact_Tel], [Second_Contact], [Sec_Contact_Tel], [House_Count], [BD_State]) VALUES (2, N'BD002', N'尚品大樓', N'台中市南區建國路', CAST(N'2025-02-01T00:00:00.000' AS DateTime), CAST(N'2026-02-01T00:00:00.000' AS DateTime), N'陳怡君', N'0923456789', N'張國華', N'0923456790', N'50', 2)
INSERT [dbo].[BD_List] ([id], [BD_No], [BD_Name], [BD_Addr], [Contract_Start], [Contract_End], [First_Contact], [Fst_Contact_Tel], [Second_Contact], [Sec_Contact_Tel], [House_Count], [BD_State]) VALUES (3, N'BD003', N'翠庭大樓', N'高雄市前金區中正路', CAST(N'2025-03-01T00:00:00.000' AS DateTime), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'劉俊傑', N'0934567890', N'吳靜宜', N'0934567891', N'80', 1)
SET IDENTITY_INSERT [dbo].[BD_List] OFF
GO
SET IDENTITY_INSERT [dbo].[BD_Member] ON 

INSERT [dbo].[BD_Member] ([id], [BD_ID], [Door_No], [User_ID], [DoorNo_ID]) VALUES (1, 1, N'101', 1, 1)
INSERT [dbo].[BD_Member] ([id], [BD_ID], [Door_No], [User_ID], [DoorNo_ID]) VALUES (2, 2, N'102', 2, 2)
INSERT [dbo].[BD_Member] ([id], [BD_ID], [Door_No], [User_ID], [DoorNo_ID]) VALUES (3, 3, N'103', 3, 3)
SET IDENTITY_INSERT [dbo].[BD_Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Board] ON 

INSERT [dbo].[Board] ([Id], [BD_Id], [Manager_Id], [Type], [Name], [Info], [Photo], [Open_Time], [Auth], [State]) VALUES (1, 1, 1, 1, N'大樓維護通知', N' 親愛的住戶，為了維護大樓設施，本月將進行定期維修工作。維修期間可能會影響部分區域，請大家提前做好準備，並配合相關作業。若有不便，敬請見諒，感謝您的理解與支持。', N'0fb6183c-5503-4a20-934e-15fcd5ed0934.jpg', CAST(N'2025-01-01T09:00:00.000' AS DateTime), 1, 3)
INSERT [dbo].[Board] ([Id], [BD_Id], [Manager_Id], [Type], [Name], [Info], [Photo], [Open_Time], [Auth], [State]) VALUES (2, 1, 2, 2, N'停車場管理更新', N'停車場管理規則更新，請所有住戶注意新規定。', N'0fb6183c-5503-4a20-934e-15fcd5ed0934.jpg', CAST(N'2025-02-01T10:00:00.000' AS DateTime), 2, 3)
INSERT [dbo].[Board] ([Id], [BD_Id], [Manager_Id], [Type], [Name], [Info], [Photo], [Open_Time], [Auth], [State]) VALUES (3, 1, 3, 3, N'安全檢查通知', N'本大樓將進行年度安全檢查，請住戶配合。', N'0fb6183c-5503-4a20-934e-15fcd5ed0934.jpg', CAST(N'2025-03-01T11:00:00.000' AS DateTime), 3, 3)
SET IDENTITY_INSERT [dbo].[Board] OFF
GO
SET IDENTITY_INSERT [dbo].[Company_Login_History] ON 

INSERT [dbo].[Company_Login_History] ([ID], [Company_ID], [Com_Login_Time], [Com_Logout_Time], [Com_IP_Address], [Com_Login_Status]) VALUES (1, 1, CAST(N'2025-01-03T00:00:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Company_Login_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Company_Profile] ON 

INSERT [dbo].[Company_Profile] ([ID], [Com_ID], [Com_Address], [Com_Person], [Com_Phone], [Com_Email], [Com_Server_Item], [Com_Registration_Number], [Com_Contract_Start_Date], [Com_Contract_End_Date], [Com_Business_Hours]) VALUES (1, 1, N'1', N'1', N'1', N'1', N'1', 1, CAST(N'2025-02-10T00:00:00.000' AS DateTime), CAST(N'2025-02-10T00:00:00.000' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[Company_Profile] OFF
GO
SET IDENTITY_INSERT [dbo].[Door_No] ON 

INSERT [dbo].[Door_No] ([Id], [BD_Id], [Door_No], [Square_Feet], [Points], [Motor_Park], [Car_Park]) VALUES (1, 1, N'101', CAST(35.00 AS Decimal(6, 2)), 50, 10, 5)
INSERT [dbo].[Door_No] ([Id], [BD_Id], [Door_No], [Square_Feet], [Points], [Motor_Park], [Car_Park]) VALUES (2, 2, N'102', CAST(45.00 AS Decimal(6, 2)), 60, 12, 6)
INSERT [dbo].[Door_No] ([Id], [BD_Id], [Door_No], [Square_Feet], [Points], [Motor_Park], [Car_Park]) VALUES (3, 3, N'103', CAST(40.00 AS Decimal(6, 2)), 55, 11, 5)
SET IDENTITY_INSERT [dbo].[Door_No] OFF
GO
SET IDENTITY_INSERT [dbo].[EcpayOrders] ON 

INSERT [dbo].[EcpayOrders] ([Id], [MerchantTradeNo], [MemberId], [RtnCode], [RtnMsg], [TradeNo], [TradeAmt], [PaymentDate], [PaymentTypeChargeFee], [TradeDate], [SimulatePaid], [PaymentType], [Payment_code]) VALUES (81, N'0236f3cbca9c4ddaac73', N'3002607', 1, N'已付款', N'3002607', 1060, CAST(N'2025-02-14T17:13:37.000' AS DateTime), N'0', N'2025/02/14 17:13:09', 0, N'aio', NULL)
INSERT [dbo].[EcpayOrders] ([Id], [MerchantTradeNo], [MemberId], [RtnCode], [RtnMsg], [TradeNo], [TradeAmt], [PaymentDate], [PaymentTypeChargeFee], [TradeDate], [SimulatePaid], [PaymentType], [Payment_code]) VALUES (82, N'7cb90d40a2a943d4acbd', N'3002607', 0, N'訂單成功尚未付款', N'3002607', 1060, CAST(N'2025-02-17T13:25:19.000' AS DateTime), N'0', N'2025/02/17 13:25:19', 0, N'aio', NULL)
INSERT [dbo].[EcpayOrders] ([Id], [MerchantTradeNo], [MemberId], [RtnCode], [RtnMsg], [TradeNo], [TradeAmt], [PaymentDate], [PaymentTypeChargeFee], [TradeDate], [SimulatePaid], [PaymentType], [Payment_code]) VALUES (83, N'738a68d02dc345e6b84e', N'3002607', 0, N'訂單成功尚未付款', N'3002607', 1060, CAST(N'2025-02-17T13:25:26.000' AS DateTime), N'0', N'2025/02/17 13:25:26', 0, N'aio', NULL)
SET IDENTITY_INSERT [dbo].[EcpayOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Get_Pack] ON 

INSERT [dbo].[Get_Pack] ([Id], [BD_Id], [Pack_No], [Type], [Door_No_Id], [Manager_Id], [Get_User], [Logistic], [Log_Time], [Pack_Photo], [Pick_User], [Pick_Time], [State]) VALUES (1, 1, N'PCK001', 1, 1, 1, N'李明杰', N'物流公司A', CAST(N'2025-01-05T09:00:00.000' AS DateTime), N'93835372-7ae7-4745-be74-7d37a245cacb.png', N'王家瑋', CAST(N'2025-01-06T10:00:00.000' AS DateTime), 1)
INSERT [dbo].[Get_Pack] ([Id], [BD_Id], [Pack_No], [Type], [Door_No_Id], [Manager_Id], [Get_User], [Logistic], [Log_Time], [Pack_Photo], [Pick_User], [Pick_Time], [State]) VALUES (2, 1, N'PCK002', 2, 1, 2, N'王家瑋', N'物流公司B', CAST(N'2025-02-06T11:00:00.000' AS DateTime), N'93835372-7ae7-4745-be74-7d37a245cacb.png', N'張淑娟', CAST(N'2025-02-07T14:00:00.000' AS DateTime), 0)
INSERT [dbo].[Get_Pack] ([Id], [BD_Id], [Pack_No], [Type], [Door_No_Id], [Manager_Id], [Get_User], [Logistic], [Log_Time], [Pack_Photo], [Pick_User], [Pick_Time], [State]) VALUES (3, 1, N'PCK003', 3, 1, 3, N'張淑娟', N'物流公司C', CAST(N'2025-03-10T13:30:00.000' AS DateTime), N'93835372-7ae7-4745-be74-7d37a245cacb.png', N'陳家豪', CAST(N'2025-03-11T15:30:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Get_Pack] OFF
GO
SET IDENTITY_INSERT [dbo].[Manage_Fee] ON 

INSERT [dbo].[Manage_Fee] ([Id], [Fee_Name], [Door_No_Id], [Price], [Motor_Price], [Car_Price], [Fee_End], [Pay_Type], [Pay_Time], [State], [Payment_code]) VALUES (1, N'2024年9月管理費', 2, 1000, 20, 20, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Manage_Fee] ([Id], [Fee_Name], [Door_No_Id], [Price], [Motor_Price], [Car_Price], [Fee_End], [Pay_Type], [Pay_Time], [State], [Payment_code]) VALUES (2, N'2024年10月管理費', 2, 1000, 20, 20, NULL, 1, NULL, 0, NULL)
INSERT [dbo].[Manage_Fee] ([Id], [Fee_Name], [Door_No_Id], [Price], [Motor_Price], [Car_Price], [Fee_End], [Pay_Type], [Pay_Time], [State], [Payment_code]) VALUES (3, N'2024年11月管理費', 2, 1000, 20, 20, NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Manage_Fee] OFF
GO
SET IDENTITY_INSERT [dbo].[Public_Area_Reserve] ON 

INSERT [dbo].[Public_Area_Reserve] ([Id], [Bd_Id], [Name], [Open_Time], [Close_Time], [Deduct_Unit], [Use_Time], [Area_Info], [Amount], [photo], [icon]) VALUES (1, 1, N'健身房', CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), 1, N'2', N'21313212151564846', 1, NULL, NULL)
INSERT [dbo].[Public_Area_Reserve] ([Id], [Bd_Id], [Name], [Open_Time], [Close_Time], [Deduct_Unit], [Use_Time], [Area_Info], [Amount], [photo], [icon]) VALUES (2, 1, N'游泳池', CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), 1, N'1', N'1', 1, NULL, NULL)
INSERT [dbo].[Public_Area_Reserve] ([Id], [Bd_Id], [Name], [Open_Time], [Close_Time], [Deduct_Unit], [Use_Time], [Area_Info], [Amount], [photo], [icon]) VALUES (3, 1, N'會議室1', CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), 1, N'1', N'1', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Public_Area_Reserve] OFF
GO
SET IDENTITY_INSERT [dbo].[Send_Pack] ON 

INSERT [dbo].[Send_Pack] ([Id], [User_Id], [Manager_Id], [Type], [Get_User], [Get_Tel], [Send_Addr], [Logistic], [Pick_User], [Pick_Time], [Pack_Photo], [Pick_Logistic_Time], [State]) VALUES (2, 12, 2, 2, N'王家瑋', N'0912345679', N'高雄市苓雅區建國路102號', N'物流公司B', N'張淑娟', CAST(N'2025-02-06T11:00:00.000' AS DateTime), N'p1.jpg', CAST(N'2025-02-06T11:30:00.000' AS DateTime), 0)
INSERT [dbo].[Send_Pack] ([Id], [User_Id], [Manager_Id], [Type], [Get_User], [Get_Tel], [Send_Addr], [Logistic], [Pick_User], [Pick_Time], [Pack_Photo], [Pick_Logistic_Time], [State]) VALUES (3, 12, 3, 3, N'張淑娟', N'0912345680', N'台中市南區建國路103號', N'物流公司C', N'陳家豪', CAST(N'2025-03-10T13:30:00.000' AS DateTime), N'p1.jpg', CAST(N'2025-03-10T14:00:00.000' AS DateTime), 1)
INSERT [dbo].[Send_Pack] ([Id], [User_Id], [Manager_Id], [Type], [Get_User], [Get_Tel], [Send_Addr], [Logistic], [Pick_User], [Pick_Time], [Pack_Photo], [Pick_Logistic_Time], [State]) VALUES (4, 12, 4, 1, N'陳家豪', N'0912345681', N'新北市板橋區文化路104號', N'物流公司D', N'林怡君', CAST(N'2025-04-12T08:15:00.000' AS DateTime), N'p1.jpg', CAST(N'2025-04-12T08:45:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Send_Pack] OFF
GO
SET IDENTITY_INSERT [dbo].[tSystem_Info] ON 

INSERT [dbo].[tSystem_Info] ([fId], [fName], [fAccount], [fPassword], [fPhone], [fEmail], [fImage]) VALUES (1, N'李明杰', N'mingjie01', N'', N'0912345678', N'mingjie01@example.com', N'none')
INSERT [dbo].[tSystem_Info] ([fId], [fName], [fAccount], [fPassword], [fPhone], [fEmail], [fImage]) VALUES (2, N'王家瑋', N'jiawei02', N'password234', N'0912345679', N'jiawei02@example.com', N'none')
INSERT [dbo].[tSystem_Info] ([fId], [fName], [fAccount], [fPassword], [fPhone], [fEmail], [fImage]) VALUES (3, N'張淑娟', N'shujuan03', N'password345', N'0912345680', N'shujuan03@example.com', N'none')
SET IDENTITY_INSERT [dbo].[tSystem_Info] OFF
GO
SET IDENTITY_INSERT [dbo].[tusers_Info] ON 

INSERT [dbo].[tusers_Info] ([fId], [fName], [fAccount], [fPassword], [fPhone], [fBuilding_id], [fUser_address], [fEmail], [QR_Cord], [fAspUserId]) VALUES (1, N'李明杰', N'123', N'123', N'0912345678', 1, N'台北市信義區', N'mingjie1@example.com', NULL, N'none')
INSERT [dbo].[tusers_Info] ([fId], [fName], [fAccount], [fPassword], [fPhone], [fBuilding_id], [fUser_address], [fEmail], [QR_Cord], [fAspUserId]) VALUES (2, N'王家瑋', N'jiawei2', N'passw2d', N'0912345679', 2, N'高雄市苓雅區', N'jiawei2@example.com', NULL, N'none')
INSERT [dbo].[tusers_Info] ([fId], [fName], [fAccount], [fPassword], [fPhone], [fBuilding_id], [fUser_address], [fEmail], [QR_Cord], [fAspUserId]) VALUES (3, N'張淑娟', N'shujuan3', N'passw3d', N'0912345680', 3, N'台中市南區', N'shujuan3@example.com', NULL, N'none')
SET IDENTITY_INSERT [dbo].[tusers_Info] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Area_Reserve] ON 

INSERT [dbo].[User_Area_Reserve] ([Id], [Area_Id], [Door_No_Id], [User_Id], [Reserve_Time], [Start_Time], [End_Time], [State]) VALUES (1, 1, 1, 1, CAST(N'2025-02-06T00:00:00.000' AS DateTime), CAST(N'2025-02-06T00:00:00.000' AS DateTime), CAST(N'2025-02-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[User_Area_Reserve] ([Id], [Area_Id], [Door_No_Id], [User_Id], [Reserve_Time], [Start_Time], [End_Time], [State]) VALUES (2, 2, 1, 1, CAST(N'2025-02-06T19:00:00.000' AS DateTime), CAST(N'2025-02-07T20:00:00.000' AS DateTime), CAST(N'2025-02-07T21:00:00.000' AS DateTime), 1)
INSERT [dbo].[User_Area_Reserve] ([Id], [Area_Id], [Door_No_Id], [User_Id], [Reserve_Time], [Start_Time], [End_Time], [State]) VALUES (3, 3, 1, 1, CAST(N'2025-02-06T19:00:00.000' AS DateTime), CAST(N'2025-02-08T20:00:00.000' AS DateTime), CAST(N'2025-02-08T21:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User_Area_Reserve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2025/2/17 下午 01:28:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company_Account] ADD  DEFAULT ('none') FOR [fAspUserId]
GO
ALTER TABLE [dbo].[CS_Appointment_Record] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[tManager_Info] ADD  DEFAULT ('none') FOR [fName]
GO
ALTER TABLE [dbo].[tManager_Info] ADD  DEFAULT ('none') FOR [fAccount]
GO
ALTER TABLE [dbo].[tManager_Info] ADD  DEFAULT ('none') FOR [fPassword]
GO
ALTER TABLE [dbo].[tManager_Info] ADD  DEFAULT ((0)) FOR [fBuilding_id]
GO
ALTER TABLE [dbo].[tManager_Info] ADD  DEFAULT ('none') FOR [fPhone]
GO
ALTER TABLE [dbo].[tManager_Info] ADD  DEFAULT ('none') FOR [fEmail]
GO
ALTER TABLE [dbo].[tManager_Info] ADD  DEFAULT ('none') FOR [fAspUserId]
GO
ALTER TABLE [dbo].[tManager_Login_History] ADD  DEFAULT ((0)) FOR [fMan_id]
GO
ALTER TABLE [dbo].[tManager_Login_History] ADD  DEFAULT ('none') FOR [fIP_address]
GO
ALTER TABLE [dbo].[tManager_Login_History] ADD  DEFAULT ('none') FOR [fLogin_status]
GO
ALTER TABLE [dbo].[tSystem_Info] ADD  DEFAULT ('none') FOR [fName]
GO
ALTER TABLE [dbo].[tSystem_Info] ADD  DEFAULT ('none') FOR [fAccount]
GO
ALTER TABLE [dbo].[tSystem_Info] ADD  DEFAULT ('none') FOR [fPassword]
GO
ALTER TABLE [dbo].[tSystem_Info] ADD  DEFAULT ('none') FOR [fPhone]
GO
ALTER TABLE [dbo].[tSystem_Info] ADD  DEFAULT ('none') FOR [fEmail]
GO
ALTER TABLE [dbo].[tSystem_Info] ADD  DEFAULT ('none') FOR [fImage]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ('none') FOR [fName]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ('none') FOR [fAccount]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ('none') FOR [fPassword]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ('none') FOR [fPhone]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ((0)) FOR [fBuilding_id]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ('none') FOR [fUser_address]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ('none') FOR [fEmail]
GO
ALTER TABLE [dbo].[tusers_Info] ADD  DEFAULT ('none') FOR [fAspUserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
USE [master]
GO
