@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "密碼重設確認";
    Layout = "_LayoutHomePage"; // 指定不同的 Layout

}
<div class="container text-center mt-5">
<h1>@ViewData["Title"]</h1>
<p>
    您的密碼已成功重設。請 <a asp-page="./Login">點擊此處登入</a>.
</p>
</div>